ion-content {
    --background: #f7f7f7;
}
.chat-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #7d4281;
    font-size: 0.9em;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    position: fixed;
    width: 100%;
    background: #f7f7f7;
    z-index: 10;
    .close-btn {
        float: left;
        color: #333;
        outline: none;
    }
}
.chat-input {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 10px 10px;
    background: #f7f7f7;
    z-index: 10;
    ion-textarea {
        width: 100%;
        background: #fff;
        padding: 7px 70px 7px 7px;
        outline: none;
    }
    .send-btn {
        position: absolute;
        top: 13px;
        right: 10px;
        padding: 10px 20px;
        color: #7d4281;
        z-index: 1000;
        font-weight: bold;
    }
}
.chat-messages {
    margin: 50px auto 80px; 
    min-height: calc(100% - 130px);
    display: grid;
    align-content: end;
    .cm-item {
        position: relative;
        margin: 5px 30px 5px 15px; 
        font-size: 0.8em;
        .cm-image {
            background-image: url('https://pbs.twimg.com/profile_images/649305173488238592/g294dJT4_400x400.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            float: left;
        }
        .cm-msg {
            padding: 10px;
            background: #fff;
            border-radius: 10px;
        }
        .cm-date {
            font-size: 0.7em;
            float: right;
            margin-top: 3px;
            margin-right: 5px;
        }
        &.host {
            margin-right: 15px;
            .cm-msg {
                margin-left: 40px;
                background: #e2eef2;
                margin-right: 0px;
            }
            .cm-date {
                float: left;
                margin-left: 45px;
            }
        }
    }
}

