<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="menu" size="large" slot="start"></ion-icon>
    <ion-title>
        Funzing <ion-icon name="pizza" size="small"></ion-icon>
    </ion-title>
    <ion-icon name="search" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="chat-title">
    <span class="close-btn" routerLink="/profile" (click)="goBack()">&#10005;</span> Chat with Merry
  </section>
  <section class="chat-messages" [style.paddingTop]="scrollIndent + 'px'">
    <div class="cm-item" [ngClass]="{ 'host' : msg.host }" *ngFor="let msg of chatSet | async" #UImessageList>
      <div class="cm-image" *ngIf="msg.host"></div>
      <div class="cm-msg">{{ msg.value }}</div>
      <div class="cm-date">{{ msg.date }}</div>
    </div>
  </section>
  <section class="chat-input">
    <ion-textarea rows="1" [(ngModel)]="currentMsg" placeholder="Type ..."></ion-textarea>
    <div class="send-btn" (click)="sendMsg()">Send</div>
  </section>
</ion-content>