:host {
    background: rebeccapurple;
    color: #fff;
    text-align: center;
    padding: 15px;
    ion-content{
        --background: inherit;
        --color: #fff;
    }
    .host-item {
        display: inline-block;
        margin: 10px;
        .host-avatar {
            width: 75px;
            height: 75px;;
            border-radius: 50%;
            background-image: url('https://pbs.twimg.com/profile_images/649305173488238592/g294dJT4_400x400.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 10px auto;
        }
    }
}
